<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookStoreMapper">

<!-- login -->
	<!-- 계정 조회 -->
	<select id="selectMember" parameterType="String" resultType="model.UserInfo">
		select id, pw from user_info where id=#{id}
	</select>
	
<!-- notice -->
	<!-- 가장 큰 게시글번호 -->
	<select id="selectNoticeMaxSeqno" resultType="Integer">
		select max(seqno) as max_seqno from notice
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertNoticeBBS" parameterType="model.NoticeItem">
		insert into notice
		values(#{seqno},#{title},#{content},#{id},#{bbs_date})
	</insert>
	
	<!-- 게시글목록조회 - NoticeListServlet - readNotice -->
	<select id="selectNotice" resultType="model.NoticeItem">
		select seqno,title,content,id,bbs_date from notice
		order by seqno desc	
	</select>
	
	<!-- 글내용조회 - NoticeItemServlet -->	
	<select id="selectNoticeItem" parameterType="Integer" resultType="model.NoticeItem">
		select * from notice where seqno = #{seqno}
	</select>	
	
	<!-- 게시글 수 - NoticeListServlet - readPageNum -->
	<select id="selectNoticePage" resultType="Integer">
		select count(*) as num from notice
	</select>
	
	<!-- 다음페이지 - NoticeListServlet - readNextPage  -->
	<select id="selectNoticeNextPage" parameterType="Integer" resultType="model.NoticeItem">
		select * from notice where seqno <![CDATA[ < ]]> #{seqno}
		order by seqno desc
	</select>
	
	<!-- 이전페이지 - NoticeListServlet - readPrevPage -->
	<select id="selectNoticePrevPage" parameterType="Integer"	resultType="model.NoticeItem">
		select seqno,title,id,bbs_date from
		(
			select seqno,title,id,bbs_date,rownum from
			(
				select * from 
				(
					select * from notice where seqno > #{seqno}
					order by seqno desc
				)
				order by seqno
			)
			where rownum <![CDATA[ < ]]>=5 order by seqno desc
		)
	</select>
	
	<select id="selectNoticePrevCount" parameterType="Integer" resultType="Integer">
		select count(*) as num from notice where seqno > #{seqno}
	</select>
	
	<!-- 페이지번호 - NoticeListServlet - readPage -->
	<select id="selectNoticePage" parameterType="Integer" resultType="model.NoticeItem">
		select seqno,title,id,bbs_date from
		(
			select seqno,title,id,bbs_date,rownum rn from
			(
				select * from notice order by seqno desc
			)
		)
		where (rn > ((#{no}-1)*5)) and
			(rn <![CDATA[ < ]]> ((#{no}-1)*5+6))	
	</select>
	
	<select id="selectNoticeNextCount" parameterType="Integer" resultType="Integer">
		select count(*) as num from
		(
			select seqno, rownum rn from
			(
				select * from notice order by seqno desc
			)
		)
		where rn > ((#{no}-1)*5)
	</select>

	
</mapper>